.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--margin-M);
  height: 25px;
  background: var(--tertiary);
  padding: 0 20px;
  font-variation-settings: "wght" 116, "wdth" 0;
  text-transform: uppercase;
  z-index: 100;
  font-size: var(--pgSmallSize);
  letter-spacing: var(--pgSmallLetterSpacing);
  border-radius: 3px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

.button:hover {
  background: var(--quaternary);
}

.hoverButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--margin-M);
  height: 25px;
  background: var(--tertiary);
  padding: 0 20px;
  font-variation-settings: "wght" 116, "wdth" 0;
  z-index: 100;
  font-size: var(--pgSmallSize);
  letter-spacing: var(--pgSmallLetterSpacing);
  border-radius: 3px;
  transition: opacity 0.2s ease;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  pointer-events: none;
  white-space: nowrap;
  transform: translateX(10%);
}

.infoButton {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  height: auto;
  max-width: 20vw;
  background: var(--quaternary);
  justify-content: center;
  align-items: center;
  font-variation-settings: "wght" 116, "wdth" 0;
  z-index: 3000;
  font-size: var(--pgSmallSize);
  letter-spacing: var(--pgSmallLetterSpacing);
  word-spacing: -1.5px;
  text-transform: none;
  font-variation-settings: "wght" 100, "wdth" 50;
  border-radius: 3px;
  margin-bottom: 0;
  padding: var(--margin-S);
  cursor: pointer;
  transition: opacity 0.2s ease, height 0.2s ease;
  -webkit-backdrop-filter: blur(23px);
  backdrop-filter: blur(23px);
}

@media only screen and (max-width: 600px) {
  .button {
    margin-bottom: 0;
    margin-top: 3px;
  }
  .infoButton {
    position: relative;
    right: inherit;
    max-width: inherit;
  }
}

.cartHead {
  font-variation-settings: "wght" 116, "wdth" 0;
  z-index: 3000;
  font-size: var(--pgSmallSize);
  letter-spacing: var(--pgSmallLetterSpacing);
  word-spacing: -1.5px;
}

.cartOverlay {
  width: 25vw;
  z-index: 3000;
  position: fixed;
  bottom: var(--margin-M);
  right: var(--margin-M);
  background: var(--tertiary);
  transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-backdrop-filter: blur(23px);
  backdrop-filter: blur(23px);
  padding: var(--margin-S);
  border-radius: 4px;
}

.productWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 23px;
}

.totalWrapper {
  font-variation-settings: "wght" 100, "wdth" 50;
  font-size: 12pt;
  line-height: 25pt;
  letter-spacing: 0.3px;
  margin-top: var(--margin-S);
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-variation-settings: "wght" 130, "wdth" 50;
  margin-top: var(--margin-M);
}

.checkoutButton button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--margin-S);
  height: 25px;
  width: 100%;
  background: var(--primary);
  padding: 0 20px;
  font-variation-settings: "wght" 116, "wdth" 0;
  text-transform: uppercase;
  z-index: 100;
  border: 0;
  outline: 0;
  font-family: "Protest";
  font-size: var(--pgSmallSize);
  letter-spacing: var(--pgSmallLetterSpacing);
  border-radius: 3px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

.checkoutButton button:hover {
    background: var(--quaternary);
}
