.button {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  margin-bottom: var(--margin-M);
  height: 25px;
  background: var(--tertiary);
  padding: 0 20px;
  font-variation-settings: "wght" 116, "wdth" 0;
  text-transform: uppercase;
  z-index: 100;
  font-size: var(--pgSmallSize);
  letter-spacing: var(--pgSmallLetterSpacing);
  border-radius: 3px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  font-family: "Protest";
  text-transform: uppercase;
  color: black;
}

.button:hover {
  background: var(--quaternary);
}

.hoverButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--margin-M);
  height: 25px;
  background: var(--tertiary);
  padding: 0 20px;
  font-variation-settings: "wght" 116, "wdth" 0;
  z-index: 10000;
  font-size: var(--pgSmallSize);
  letter-spacing: var(--pgSmallLetterSpacing);
  border-radius: 3px;
  transition: opacity 0.2s ease;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  pointer-events: none;
  white-space: nowrap;
  transform: translateX(10%);
  font-family: "Protest";
  text-transform: uppercase;
  color: black;
}

.hoverBigButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  background: var(--primary);
  color: black;
  padding: 10px 20px;
  font-variation-settings: "wght" 116, "wdth" 0;
  z-index: 100;
  font-size: var(--pgSmallSize);
  letter-spacing: var(--pgSmallLetterSpacing);
  border-radius: 3px;
  transition: opacity 0.2s ease;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  pointer-events: none;
  transform: translateX(20px);
  font-family: "Protest";
  text-transform: uppercase;
}

.hoverButton span {
  animation: fontAnimation 1s infinite ease-out alternate;
  font-variation-settings: "wght" 100;
}

.hoverButton span:nth-child(2) {
  animation-delay: 0.1s;
}
.hoverButton span:nth-child(3) {
  animation-delay: 0.2s;
}
.hoverButton span:nth-child(4) {
  animation-delay: 0.3s;
}
.hoverButton span:nth-child(5) {
  animation-delay: 0.4s;
}
.hoverButton span:nth-child(6) {
  animation-delay: 0.5s;
}
.hoverButton span:nth-child(7) {
  animation-delay: 0.6s;
}
.hoverButton span:nth-child(8) {
  animation-delay: 0.7s;
}
.hoverButton span:nth-child(9) {
  animation-delay: 0.8s;
}
.hoverButton span:nth-child(10) {
  animation-delay: 0.9s;
}
.hoverButton span:nth-child(11) {
  animation-delay: 1s;
}
.hoverButton span:nth-child(12) {
  animation-delay: 1.1s;
}

.infoButton {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  height: auto;
  max-width: 20vw;
  background: var(--quaternary);
  justify-content: center;
  align-items: center;
  font-variation-settings: "wght" 116, "wdth" 0;
  z-index: 3000;
  font-size: var(--pgSmallSize);
  letter-spacing: var(--pgSmallLetterSpacing);
  word-spacing: -1.5px;
  text-transform: none;
  font-variation-settings: "wght" 100, "wdth" 50;
  border-radius: 3px;
  margin-bottom: 0;
  padding: var(--margin-S);
  cursor: pointer;
  transition: opacity 0.2s ease, height 0.2s ease;
  -webkit-backdrop-filter: blur(23px);
  backdrop-filter: blur(23px);
  color: black;
}

@keyframes fontAnimation {
  0% {
    font-variation-settings: "wght" 100, "ital" 0;
  }
  30% {
    font-variation-settings: "wght" 250, "ital" 100;
  }
  100% {
    font-variation-settings: "wght" 100, "ital" 0;
  }
}

.cartHead {
  font-variation-settings: "wght" 116, "wdth" 0;
  z-index: 3000;
  font-size: var(--pgSmallSize);
  letter-spacing: var(--pgSmallLetterSpacing);
  word-spacing: -1.5px;
}

.cartOverlay {
  min-width: 380px;
  z-index: 3000;
  position: fixed;
  bottom: var(--margin-M);
  right: var(--margin-M);
  background: var(--tertiary);
  transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-backdrop-filter: blur(23px);
  backdrop-filter: blur(23px);
  padding: var(--margin-S);
  border-radius: 4px;
}

.productWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 23px;
}

.productWrapper span:first-child {
  padding-right: var(--margin-M);
}

.totalWrapper {
  font-variation-settings: "wght" 100, "wdth" 50;
  font-size: 12pt;
  line-height: 16pt;
  letter-spacing: 0.3px;
  margin-top: var(--margin-S);
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-variation-settings: "wght" 150, "wdth" 50;
  margin-top: var(--margin-M);
  letter-spacing: -0.1px;
  padding-bottom: var(--margin-S);
}

.checkoutButton button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--margin-S);
  height: 25px;
  width: 100%;
  background: var(--primary);
  padding: 0 20px;
  font-variation-settings: "wght" 116, "wdth" 0;
  text-transform: uppercase;
  z-index: 100;
  border: 0;
  outline: 0;
  font-family: "Protest";
  font-size: var(--pgSmallSize);
  letter-spacing: var(--pgSmallLetterSpacing);
  border-radius: 3px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

.checkoutButton button:hover {
  background: var(--quaternary);
}

@media only screen and (max-width: 1000px) {
  .button {
    margin-bottom: 0;
    margin-top: 3px;
  }
}

@media only screen and (max-width: 600px) {

  .infoButton {
    position: relative;
    right: inherit;
    max-width: inherit;
  }

  .button:hover,
  .checkoutButton button:hover {
    background: inherit;
  }

  .cartHead {
    padding-bottom: var(--margin-M);
  }

  .productWrapper {
    height: unset;
    flex-direction: column;
    padding-bottom: var(--margin-M);
  }

  .cartOverlay {
    width: calc(100vw - 2 * var(--margin-M));
    min-width: calc(100vw - 2 * var(--margin-M));
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hoverBigButton {
    display: none;
  }
}
