.buyWrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: var(--tertiary);
    z-index: 400;
    backdrop-filter: blur(20px);
    animation: fadeIn 0.2s ease;
    transition: opacity 0.5s ease;
    padding: var(--margin-M);
    letter-spacing: var(--pgSmallLetterSpacing);
    font-size: var(--pgSmallSize);
    line-height: var(--pgSmallLineHeight);
    font-variation-settings: var(--pgSmallVariable);
}

.buyTableWrapper {
    width: 100%;
    display: flex;
}

.buyConfiguration {
    width: 25%;
    text-transform: uppercase;
    cursor: default;
}

.buyConfiguration li:hover {
    opacity: 1;
}

.buyConfiguration :not(.buyConfigurationHead) {
    opacity: 0.5;
}

.buyConfigurationHead {
    padding: 20px 0;
    text-transform: uppercase;
}

.buyConfiguration :first-child {
    padding-top: 0;
}

.buyTableButtons {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.buyTableButtons div {
    margin-left: 3px;
    margin-bottom: 3px;
}

.buyTableButtons div:hover {
    background: black;
}

.buyTableContent {
    padding-top: var(--margin-M)
}

.buyTableContent .buyConfigurationHead {
    padding-bottom: var(--margin-M)
}

.buyTableContent :not(.buyConfigurationHead) {
    font-size: 20pt;
    letter-spacing: -0px;
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

