.couponInput {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 100pt;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    font-size: 13vw;
    line-height: 20vw;
    letter-spacing: -1vw;
}

.couponInput input::selection {
    background: var(--primary)
}

.couponInput input {
    font-family: 'Protest';
    font-variation-settings: 'wdth' 50, 'wght' 120;
    font-size: 13vw;
    line-height: 20vw;
    letter-spacing: -1vw;
    white-space: nowrap;
    background: none;
    text-align: center;
    border: 0;
    outline: 0;
}


.couponInput input::placeholder {
    color: black;
    opacity: 0.5;
}