.addressFormWrapper {
  position: fixed;
  height: calc(100vh - 135px);
  width: calc(50vw - 60px);
  overflow: scroll;
  padding-bottom: 85px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.addressFormWrapper::-webkit-scrollbar {
  display: none;
}

.productWrapper {
  width: calc(50vw - 2 * var(--margin-M));
  display: flex;
  justify-content: space-between;
  letter-spacing: var(--pgSmallLetterSpacing);
  font-size: var(--pgSmallSize);
  line-height: var(--pgSmallLineHeight);
  font-variation-settings: var(--pgSmallVariable);
  text-transform: uppercase;
  padding-bottom: var(--margin-M);
}

.licenseType {
  opacity: 0.3;
}

.payButton {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--margin-M);
  height: 25px;
  background: var(--primary);
  padding: 0 20px;
  font-variation-settings: "wght" 133, "wdth" 50;
  text-transform: uppercase;
  /* z-index: 100; */
  font-size: var(--pgSmallSize);
  letter-spacing: var(--pgSmallLetterSpacing);
  border-radius: 3px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  margin-right: var(--margin-M);
  border: 0;
  font-family: "Protest";
}

.payButtonLocked {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--margin-M);
  height: 25px;
  background: var(--quaternary);
  padding: 0 20px;
  font-variation-settings: "wght" 133, "wdth" 50;
  text-transform: uppercase;
  z-index: 100;
  font-size: var(--pgSmallSize);
  letter-spacing: var(--pgSmallLetterSpacing);
  border-radius: 3px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  margin-right: var(--margin-M);
  border: 0;
  font-family: "Protest";
}

.payButton:hover {
  background: var(--tertiary);
}

.inputWrapper {
  width: 100%;
}

.inputFieldBig {
  height: 200px;
  width: 100%;
  background: black;
  color: white;
  font-variation-settings: "wght" 116, "wdth" 50;
  opacity: 1;
  font-size: 20pt;
  border-radius: 3px;
  padding-top: 6px;
  padding-left: 10px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1.5px solid black;
  font-family: "Protest";
  outline: 0;
  margin-top: 5px;
  cursor: default;
  resize: vertical;
  min-height: 200px;
}

.inputField,
.inputFieldOption {
  height: 50px;
  width: 100%;
  background: black;
  color: white;
  /* padding: 13px 0 10px 10px; */
  font-variation-settings: "wght" 116, "wdth" 50;
  opacity: 1;
  /* z-index: 100; */
  font-size: 20pt;
  /* letter-spacing: 0.5px; */
  border-radius: 3px;
  transition: opacity 0.2s ease;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  /* margin-right: var(--margin-M); */
  padding-left: 10px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1.5px solid black;
  font-family: "Protest";
  outline: 0;
  -webkit-appearance: none;
  margin-top: 5px;
  cursor: default;
  display: flex;
}

.inputField::-webkit-input-placeholder {
  color: #999;
}
.inputField:focus::-webkit-input-placeholder {
  color: white;
}

.inputFieldOption {
  font-size: 10pt;
  line-height: 20pt;
}

.inputField:hover,
.inputFieldBig:hover,
.inputFieldOption:hover {
  background: transparent;
  color: black;
  border-radius: 0;
}

.inputFieldOption:hover .inputField::placeholder {
  color: black;
}

.inputField::selection {
  background: #111;
  color: #fff;
}

.inputField::placeholder,
.inputField::-webkit-input-placeholder,
.inputFieldBig::placeholder,
.inputFIeldBig::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey;
  opacity: 1; /* Firefox */
  font-size: 10pt;
  line-height: 20pt;
  position: absolute;
  top: 16px;
}

.inputField:focus {
  opacity: 1;
}

.inputField::autofill {
  background-color: var(--tertiary) !important;
}

.inputHeader {
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: var(--pgSmallLetterSpacing);
}

.paymentInfo {
  cursor: pointer;
  min-width: none;
  height: 50px;
}

.paymentButtonsWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  height: 35px;
}

.paymentButton {
  width: calc(50% - 5px);
  border-radius: 2px;
}

.paymentWrapper {
  background: lightgray;
  border-radius: 3px;
  position: absolute;
  width: calc(50vw - 60px);
}

.payPalWrapper {
  position: absolute;
  width: calc(50vw - 60px);
}

.loadingWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(12px);
  animation: fadeIn 0.2s ease;
  transition: opacity 0.5s ease;
  font-variation-settings: "wdth" 50, "wght" 120;
  font-size: 13vw;
  line-height: 20vw;
  letter-spacing: -0.5vw;
  white-space: nowrap;
  background: none;
  text-align: center;
  border: 0;
  outline: 0;
}

.licenseButton {
  margin-top: 30px;
}

.billingHeader {
  text-transform: uppercase;
  padding: 0px 0 30px 10px;
}

.licenseHeader {
  margin-top: 50px;
}

@media only screen and (max-width: 1000px) {
  .inputLeftbound {
    width: 100%;
  }

  .payButton {
    width: calc(100vw - 2 * var(--margin-M));
    bottom: 56px;
  }

  .paymentHeader {
    min-height: 27px;
  }

  .billingHeader {
    display: none;
  }
}
