html,
body {
  background: white;
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
  font-family: "Protest";
  font-variation-settings: "wght" 100;
  font-variation-settings: "ital" 0;
  transition: font-variation-settings 3s ease;
  -webkit-font-smoothing: antialiased;
  /* scroll-behavior: smooth; */
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Protest";
  font-style: normal;
  src: url(../public/fonts/ProtestGrotesk.ttf) format("truetype"),
    url(../public/fonts/ProtestGrotesk.woff) format("woff"),
    url(../public/fonts/ProtestGrotesk.woff2) format("woff2");
}

@font-face {
  font-family: "ProtestMono";
  font-style: normal;
  src: url(../public/fonts/ProtestGroteskMono.ttf) format("truetype");
}

@font-face {
  font-family: "Skyline";
  font-style: normal;
  src: url(../public/fonts/SkylineGX.ttf) format("woff2");
}

@font-face {
  font-family: "Giallo-Mono";
  font-style: normal;
  src: url(../public/fonts/GialloGX_trial.ttf) format("woff2");
}

@font-face {
  font-family: "Giallo";
  font-style: normal;
  src: url(../public/fonts/GialloRoman_VF.ttf) format("woff2");
}

@font-face {
  font-family: "AutomatSquare";
  font-style: normal;
  src: url(../public/fonts/Automat_SquareGX.ttf) format("opentype");
}

@font-face {
  font-family: "AutomatRound";
  font-style: normal;
  src: url(../public/fonts/Automat_RoundGX.ttf) format("opentype");
}

@font-face {
  font-family: "AutomatSpike";
  font-style: normal;
  src: url(../public/fonts/Automat_SpikeGX.woff2) format("opentype");
}

/* VARIABLES */

:root {
  --margin-XL: 600px;
  --margin-L: 100px;
  --margin-M: 30px;
  --margin-S: 12px;

  --primary: #00ff5a;
  --secondary: rgba(0, 0, 0, 0.8);
  --tertiary: rgba(240, 233, 198, 0.6);
  --quaternary: rgba(220, 220, 220, 0.4);
  --fifth: rgb(199, 177, 255, 0.5);
  --fifthSolid: rgb(199, 177, 255, 0.9);
  --menuType: #737373;

  --pgSmallSize: 7.5pt;
  --pgSmallLineHeight: 15pt;
  --pgSmallLetterSpacing: 1.2px;
  --pgSmallVariable: "wght" 116, "wdth" 0;

  --gialloSmallSize: 10.5pt;
  --gialloSmallLineHeight: 16pt;
  --gialloSmallLetterSpacing: 1.5px;
}

@media only screen and (max-width: 600px) {
  :root {
    --margin-XL: 200px;
    --margin-M: 15px;
    --margin-S: 10px;

    --pgSmallSize: 6.5pt;
    --pgSmallLineHeight: 10pt;
    --pgSmallLetterSpacing: 1.2px;

    --gialloSmallSize: 8.5pt;
    --gialloSmallLineHeight: 11pt;
    --gialloSmallLetterSpacing: 1.5px;
  }
}

@-moz-document url-prefix() {
  :root {
    --tertiary: rgba(211, 206, 177, 0.95);
    --quaternary: rgba(220, 220, 220, 0.95);
  }
}

::-moz-selection {
  background: var(--fifth);
  color: inherit;
}
::selection {
  background: var(--fifth);
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  transition: font-variation-settings 0.5s ease;
}

textarea:focus {
  outline: none !important;
}

p {
  margin: 0;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

li {
  list-style: none;
}

button {
  color: inherit;
}

/* M E N U  */

.menuBarClosed {
  width: 35vw;
  height: 24px;
  transition: width 0.5s ease;
}

.menuBarClosed:hover {
  width: 38vw;
}

.menuBarOpen {
  width: calc(100vw - 2 * var(--margin-M));
  height: calc(100vh - 2 * var(--margin-M));
}

.menuBarClosed li {
  display: none;
  pointer-events: none;
}

.menuLinkOpen {
  height: 20px;
  text-align: center;
  color: var(--menuType);
  opacity: 0.4;
  transition: opacity 0.3s linear;
}

.menuLinkClosed {
  opacity: 0;
}

@media only screen and (max-width: 1000px) {
  .menuBarClosed,
  .menuBarOpen {
    width: calc(100% - 2 * var(--margin-M));
    left: var(--margin-M);
  }
  .menuBarClosed:hover {
    width: calc(100% - 2 * var(--margin-M));
  }
}

/* B U T T O N S */

.buttonsRightWrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: var(--margin-M);
  display: flex;
  justify-content: flex-end;
  z-index: 50;
  height: 25px;
  animation: fadeIn 1s linear;
  z-index: 351;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.buttonsRightWrapper div {
  margin-left: 3px;
}

.buttonsLeftWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: var(--margin-M);
  display: flex;
  z-index: 50;
  height: 25px;
  z-index: 200;
}

.buttonsLeftWrapper div {
  margin-right: 3px;
}

#primary {
  background: var(--primary);
}

#secondary {
  background: black;
  color: white;
}

#secondaryMuted {
  background: black;
  color: white;
  cursor: default;
}

#tertiary {
  background: var(--tertiary);
}

#quaternary {
  background: var(--quaternary);
  cursor: pointer;
}

#quaternary:hover {
  background: var(--secondary);
  color: white;
}

#quaternaryMuted {
  background: var(--quaternary);
  cursor: default;
}

#fifth {
  background: var(--fifth);
}

#fifth:hover {
  background: var(--secondary);
  color: white;
}

#textbutton {
  width: 25vw;
  position: absolute;
  height: auto;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
  padding: var(--margin-S);
  text-transform: none;
  line-height: 16px;
  font-size: 12px;
  letter-spacing: 0.5px;
  word-spacing: -1.5px;
  font-variation-settings: "wght" 100, "wdth" 50;
  font-feature-settings: "ss01";
  background: var(--quaternary);
}

#closeButton {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  background: var(--secondary);
  color: white;
}

#primary:hover,
#secondary:hover,
#tertiary:hover {
  background: var(--quaternary);
  color: black;
}

@media only screen and (max-width: 600px) {
  .buttonsLeftWrapper {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    max-width: 0;
    height: auto;
  }
  .buttonsRightWrapper {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    bottom: 0px;
    max-width: 30vw;
  }
  .buttonsRightWrapper div {
    margin: 3px 0 0 3px;
  }
  #primary:hover,
  #secondary:hover,
  #tertiary:hover,
  #quaternary:hover {
    background: "inherit" !important;
    color: "inherit";
  }
}

/* T Y P E F A C E  S I N G L E */

.typeface-single-scrolldown {
  position: fixed;
  top: var(--margin-S);
  z-index: 100;
  width: 100%;
  text-align: center;
  color: white;
  font-variation-settings: "wght" 200;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-out;
}

.typeface-single-scrolldown-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  height: 40px;
  transition: all 0.2s ease-out;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2500ms;
  width: 120px;
  opacity: 0;
}

.typeface-single-scrolldown-inner:hover {
  height: 50px;
}

.typeface-single-inner {
  margin: var(--margin-M);
  width: calc(100%-60px);
  height: 100%;
}

.typeface-single-giallo {
  font-family: "Giallo";
}

.typeface-single-inner p,
.typefaceInfosection h1 {
  font-family: "Giallo-Mono";
  font-size: var(--gialloSmallSize);
  line-height: var(--gialloSmallLineHeight);
  letter-spacing: var(--gialloSmallLetterSpacing);
  font-weight: normal;
}

.highlight01 {
  background: var(--primary);
  font-family: "Protest";
  font-variation-settings: "wght" 150;
  letter-spacing: -0.1px;
}

.highlight02 {
  background: var(--tertiary);
  font-family: "Protest";
  font-variation-settings: "wght" 150;
  letter-spacing: -0.1px;
}

.typefaceInfosectionList h1 {
  font-family: "Giallo-Mono";
  font-size: var(--gialloSmallSize);
  line-height: var(--gialloSmallLineHeight);
  letter-spacing: var(--gialloSmallLetterSpacing);
  font-weight: normal;
}

.typefaceInfosectionList {
  display: flex;
}

.typefaceInfosectionList p {
  width: 25%;
}

.typeface-single-header {
  height: 165vh;
  min-height: 800px;
  overflow: hidden;
  /* background-image: url("../public/images/bg_02.png"); */
  background: white;
}

.typeface-single-opener {
  padding: var(--margin-XL) 0;
}

.fontOpener {
  font-family: "Protest";
  font-variation-settings: "wdth" 50, "wght" 40;
  font-size: 6.6vw;
  line-height: 7vw;
  letter-spacing: -0.3vw;
}

.fontOpenerGiallo {
  font-family: "Giallo";
  font-variation-settings: "wdth" 50, "wght" 40;
  font-size: 7.2vw;
  line-height: 7.5vw;
  letter-spacing: -0.3vw;
}

.fontOpenerProtestMono {
  font-family: "ProtestMono";
  font-variation-settings: "wdth" 50, "wght" 40;
  font-size: 5.8vw;
  line-height: 7.5vw;
  letter-spacing: -0.3vw;
}

.typefaceWrapper {
  position: relative;
  top: 0;
  height: 100vh;
  width: 100%;
}

.typefaceWrapper p {
  font-family: "Giallo-Mono";
  font-size: 12.5px;
  line-height: 16px;
  letter-spacing: 1px;
}

.typefaceControl {
  font-size: 20pt;
  line-height: 25pt;
  letter-spacing: -0.6px;
  font-variation-settings: var(--pgSmallVariable);
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.8);
  padding-top: var(--margin-M);
  padding-bottom: 10px;
  z-index: 150;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.typefaceInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: default;
}

.typefaceDisplay {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10.9vw;
  line-height: 12vw;
  letter-spacing: -0.7vw;
  font-variation-settings: "wdth" 50;
  text-align: center;
  transition: font-variation-settings 0.2s ease;
  border: none;
  cursor: pointer;
  transform: translateY(-10vh);
}

.typefaceControlButton {
  cursor: default;
  opacity: 0.3;
  transition: opacity 0.2s linear;
}

.typefaceControlButton:hover {
  opacity: 1;
}

.swiper {
  height: 100vh;
}

@keyframes changeStyle {
  0% {
    font-variation-settings: "ital" 0, "wght" 40;
  }
  33% {
    font-variation-settings: "ital" 0, "wght" 250;
  }
  66% {
    font-variation-settings: "ital" 100, "wght" 250;
  }
  100% {
    font-variation-settings: "ital" 0, "wght" 40;
  }
}

@media only screen and (max-width: 600px) {
  .typefaceWrapper {
    height: 60vh;
    padding-top: 55px;
  }

  .typefaceControl {
    font-size: 20pt;
    line-height: 25pt;
    letter-spacing: -0.6px;
    position: relative;
    padding-bottom: 10vh;
    z-index: 150;
  }

  .typefaceInfo p,
  .typefaceControlButton {
    display: none;
  }
  .typefaceDisplay {
    height: 50vh;
    font-size: 10vw;
    animation: changeStyle 5s ease 0s infinite alternate;
  }

  .typefaceInfosectionList {
    flex-direction: column;
  }

  .typefaceInfosectionList p {
    width: 100%;
    padding-bottom: var(--margin-M);
  }

  .typefaceInfosection {
    padding-bottom: var(--margin-XL);
  }
}

/* V A R I A B L E */

.lettersVariableWrapper {
  margin: var(--margin-XL) 0;
  font-size: 50vw;
  font-variation-settings: "wdth" 50;
  letter-spacing: -1vw;
  height: 300vh;
}

.lettersVariable {
  position: sticky;
  top: 5vh;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.letterIndicator {
  position: absolute;
  left: 0;
  top: var(--margin-M);
  transform: translateY(-5vh);
}

.variableLetters {
  transform: translateY(-24.48vw);
}

.baseline,
.xHeight,
.versal,
.upperHeight,
.underShoot {
  position: absolute;
  width: 100%;
}
.upperHeight {
  transform: translateY(-22.24vw);
  border-top: 0.5px dashed;
}
.versal {
  transform: translateY(-21.49vw);
  border-top: 0.1px solid;
}
.xHeight {
  transform: translateY(-11.265vw);
  border-top: 0.5px solid;
}
.baseline {
  transform: translateY(16.2vw);
  border-top: 0.5px solid;
}
.underShoot {
  transform: translateY(16.94vw);
  border-top: 0.5px dashed;
}

/* T E S T E R */

.typeface-single-tester-wrap {
  padding: var(--margin-XL) 0;
  width: calc(100%-60px);
  overflow: hidden;
}

.pgMono {
  font-family: "ProtestMono";
}

.typeface-single-tester {
  font-size: 260px;
  font-variation-settings: "wght" 40, "wdth" 50;
  letter-spacing: -15px;
  white-space: nowrap;
}

.inputWrapper {
  width: calc(100vw -30px);
  overflow: hidden;
  word-break: break-all;
}

.controlsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.2s ease;
  width: 100%;
  padding-top: 20px;
}

.typetesterWrapper {
  opacity: 0.7;
  transition: opacity 0.5s ease;
  cursor: default;
}

.typetesterWrapper:hover {
  opacity: 1;
}

.typetesterWrapper:hover .controlsWrapper {
  opacity: 1;
}

.input {
  color: black;
  width: 100%;
  border: 0;
  word-break: break-all;
  padding-top: 20px;
  word-spacing: -1px;
}

.column01Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
}

.column02Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20vw;
  padding: 6px;
}

.MuiSlider-root {
  color: black !important;
  opacity: 0.8;
}

.MuiSlider-thumb.MuiSlider-active {
  box-shadow: none !important;
}

.MuiSlider-thumb.Mui-focusVisible,
.MuiSlider-thumb:hover {
  box-shadow: none !important;
}

.ssButtons {
  position: absolute;
  transform: translateY(30px);
  display: flex;
}

.ssButtons span {
  padding-left: 3px;
}

.ssButtons span div:hover {
  background: var(--secondary) !important;
  color: white !important;
}

@media only screen and (max-width: 600px) {
}

/* F E A T U R E S */

.features-wrapper {
  padding: var(--margin-XL) 0;
}

/* G L Y P H C H A R T */

.glyphchartWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: var(--margin-XL);
  margin-bottom: var(--margin-XL);
}

.glyphchartDisplayWrapper {
  width: 50%;
}

.glyphchartDisplay {
  height: 100vh;
  position: sticky;
  top: 0;
  width: 100%;
  font-size: 40vw;
  line-height: 60vw;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.glyphchartDisplay div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.glyphchartDisplayMobile {
  display: none;
}

.glyphchartTable {
  width: 50%;
}

.glyphchartLetterWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.glyphchartLetter {
  width: 70px;
  height: 70px;
  font-size: 20pt;
  display: flex;
  justify-content: center;
  transition: font-size 0.2s ease-out, transform 0.2s ease-out;
  cursor: default;
}

.glyphchartLetter:hover {
  font-size: 40pt;
  transform: translateY(-10px);
}

.glyphchartHeading {
  padding-bottom: var(--margin-M);
}

.glyphchartSlider {
  width: 18vw !important;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: var(--margin-M);
  display: flex;
  flex-direction: row;
  margin-right: 60px !important;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.glyphchartWrapper:hover .glyphchartSlider {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .typeface-single-header {
    min-height: unset;
  }

  .fontOpener {
    letter-spacing: -2px;
    white-space: nowrap;
  }

  .controlsWrapper {
    padding-top: 0;
    flex-direction: column;
    width: 100%;
    height: 0;
    transition: height 0.5s;
  }

  .column02Wrapper {
    width: 100%;
  }

  .typetesterWrapper:hover .controlsWrapper {
    height: 250px;
    padding-top: 20px;
  }

  .column01Wrapper {
    width: calc(100vw - 2 * var(--margin-M));
    padding-bottom: 60px;
  }

  #click2type {
    display: none;
  }

  .sliderWrapper {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-top: 23px;
  }

  .glyphchartTable {
    width: 100%;
    height: auto;
  }

  .glyphchartDisplayMobile {
    width: 100%;
    height: 50vh;
    font-size: clamp(0vw, 50vw, 140pt);
    padding-top: 70px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .glyphchartLetter {
    width: 17.5vw;
    height: 18.4vw;
  }

  .glyphchartDisplayWrapper {
    display: none;
  }

  .glyphchartSliderMobile {
    opacity: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: white;
  }
  .glyphchartSliderSingle {
    opacity: 1;
    display: flex;
    flex-direction: column;
    width: 46%;
    pointer-events: auto;
  }
}

/* W A T E R F A L L  */

.MuiSlider-markLabel {
  opacity: 0.5 !important;
  font-family: "Giallo-Mono" !important;
}

.MuiSlider-markLabel:hover {
  opacity: 1 !important;
}

/* P R O D U C T */

.productItalic:hover::after {
  content: "50% off incl. Regular";
  color: var(--primary);
  font-size: 10pt;
  line-height: 10pt;
  padding-left: 50px;
}

.productFullFamily:hover::after {
  content: "66% off";
  color: var(--primary);
  font-size: 10pt;
  line-height: 10pt;
  padding-left: 50px;
}

.productBundle1:hover::after {
  content: "44% off";
  color: var(--primary);
  font-size: 10pt;
  line-height: 10pt;
  padding-left: 50px;
}

.productBundle2:hover::after {
  content: "22% off";
  color: var(--primary);
  font-size: 10pt;
  line-height: 10pt;
  padding-left: 50px;
}

/* HEADER ANIMATIONS */

.headerAnimationWrapper {
  height: 100%;
  width: 100vw;
  height: 165vh;
}

.headerAnimationWrapper {
  background: var(--fifth);
}

.headerAnimationSubWrapper {
  animation: typoAnimation 3s ease infinite;
  color: #cccccc;
  /* width: 100vw; */
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.introAnimationSubWrapper {
  animation: typoAnimation02 5s ease infinite;
  color: #cccccc;
  width: 100vw;
  overflow: hidden;
}

.headerAnimationWrapper .row,
.headerAnimationWrapper .row2,
.introAnimationWrapper .row,
.introAnimationWrapper .row2 {
  display: flex;
  justify-content: center;
  /* width: 100vw; */
  overflow-x: hidden;
}

.introAnimationWrapper .row p,
.introAnimationWrapper .row2 p {
  font-size: 20vw;
  line-height: 23vw;
  letter-spacing: -1vw;
  white-space: nowrap;
  text-align: center;
}

.headerAnimationWrapper .row p,
.headerAnimationWrapper .row2 p {
  font-size: 10vw;
  line-height: 12vw;
  letter-spacing: -0.8vw;
  white-space: nowrap;
  /* text-align: center; */
}

.headerAnimationWrapper .row p {
  animation: variableAnimation 2s ease infinite alternate;
  text-align: right;
}

.headerAnimationWrapper .row2 p {
  animation: variableAnimation 2s ease infinite alternate-reverse;
}

.introAnimationWrapper .row p {
  animation: variableAnimation 2s ease infinite alternate;
}

.introAnimationWrapper .row2 p {
  animation: variableAnimation 2s ease infinite alternate-reverse;
}

@keyframes typoAnimation02 {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
  45% {
    transform: scale(2);
  }
  50% {
    transform: scale(3) translateY(50vh);
  }
  70% {
    transform: scale(3) translateY(50vh);
  }
  75% {
    transform: scale(2);
  }
  95% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes typoAnimation {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5) translateX(30vh);
  }
  45% {
    transform: scale(1.5) translateX(30vh);
  }
  50% {
    transform: scale(3) translateY(40vh);
  }
  70% {
    transform: scale(3) translateY(40vh);
  }
  75% {
    transform: scale(1.5) translateX(-30vh);
  }
  95% {
    transform: scale(1.5) translateX(-30vh);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes variableAnimation {
  0% {
    font-variation-settings: "wght" 40;
    font-variation-settings: "ital" 100;
  }
  40% {
    font-variation-settings: "ital" 0;
    font-variation-settings: "wght" 40;
  }
  50% {
    font-variation-settings: "ital" 100;
    font-variation-settings: "wght" 250;
  }
  60% {
    font-variation-settings: "ital" 0;
    font-variation-settings: "wght" 250;
  }
  100% {
    font-variation-settings: "wght" 150;
  }
}

.headerAnimationWrapperPGMono {
  height: 100%;
  overflow: hidden;
  width: 100vw;
  height: 165vh;
}

.headerAnimationSubWrapperPGMono {
  animation: typoAnimationPGMono 5s ease infinite;
  color: #cccccc;
}

.headerAnimationWrapperPGMono .row {
  display: flex;
  justify-content: center;
  /* animation: rowAnimation 120s ease infinite alternate-reverse; */
  width: 100vw;
  overflow-x: hidden;
}

.headerAnimationWrapperPGMono .row p {
  /* letter-spacing: -3.5vw; */
  animation: variableAnimationPGMono 2s ease infinite alternate;
  font-size: 10vw;
  line-height: 12vw;
  letter-spacing: -1vw;
  white-space: nowrap;
  text-align: center;
}

.headerAnimationWrapperPGMono .row2 {
  display: flex;
  justify-content: center;

  width: 100vw;
  overflow-x: hidden;
}

.headerAnimationWrapperPGMono .row2 p {
  animation: variableAnimationPGMono 2s ease infinite alternate-reverse;
  font-size: 10vw;
  line-height: 12vw;
  letter-spacing: -1vw;
  height: 100%;
  white-space: nowrap;
  text-align: center;
}

@keyframes rowAnimationPGMono {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes typoAnimationPGMono {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
  45% {
    transform: scale(2);
  }
  50% {
    transform: scale(3) translateY(50vh);
  }
  70% {
    transform: scale(3) translateY(50vh);
  }
  75% {
    transform: scale(2);
  }
  95% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes variableAnimationPGMono {
  0% {
    font-variation-settings: "wght" 40;
    font-variation-settings: "ital" 100;
  }
  20% {
    font-variation-settings: "ital" 0;
    font-variation-settings: "wght" 40;
  }
  45% {
    font-variation-settings: "ital" 100;
    font-variation-settings: "wght" 250;
  }
  55% {
    font-variation-settings: "ital" 100;
    font-variation-settings: "wght" 40;
  }
  60% {
    font-variation-settings: "ital" 0;
    font-variation-settings: "wght" 60;
  }
  100% {
    font-variation-settings: "wght" 250;
  }
}

.PGMonoAnimationWrapper {
  background: ghostwhite;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.PGMonoLetter {
  color: #7a7d29;
  width: 3vw;
  font-size: 2vw;
  transition: font-variation-settings 1s ease;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.GialloAnimationWrapper {
  height: 100vh;
  overflow: hidden;
  background: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: yellow;
}

.GialloAnimationWrapper * {
  transition: font-variation-settings 0.2s ease-out;
  cursor: default;
}

.GialloWord {
  font-family: "Giallo";
  font-size: 5vw;
  letter-spacing: -0.1vw;
}

.GialloIndex {
  font-family: "Giallo-Mono";
}

@media only screen and (max-width: 1000px) {
  .PGMonoLetter {
    width: 6vw;
    font-size: 6vw;
  }

  .headerAnimationWrapper .row p,
  .headerAnimationWrapper .row2 p {
    font-size: 60vw;
    line-height: 60vw;
  }

  @keyframes typoAnimation {
    0% {
      transform: scale(0.6);
      line-height: 45vw;
    }
    20% {
      transform: scale(0.6);
      line-height: 45vw;
    }
    25% {
      transform: scale(0.75);
      line-height: 55vw;
    }
    45% {
      transform: scale(0.75);
      line-height: 55vw;
    }
    50% {
      transform: scale(1);
      line-height: 70vw;
    }
    70% {
      transform: scale(1);
      line-height: 70vw;
    }
    75% {
      transform: scale(0.75);
      line-height: 55vw;
    }
    95% {
      transform: scale(0.75);
      line-height: 55vw;
    }
    100% {
      transform: scale(0.6);
      line-height: 45vw;
    }
  }
}

/* TRIALS */

.trialsWrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in;
  animation: fadeIn 0.2s ease-in;
}

.trialsSingleWrapper {
  height: 100vh;
  width: 100vw;
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.formTrialsWrapper {
  width: 100vw;
  height: 100vh;
}

.formTrials {
  width: clamp(100px, 70vw, 1000px);
  background: white;
  opacity: 0.8;
  padding: var(--margin-M);
  border-radius: 3px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.formTrials h1 {
  text-transform: uppercase;
  font-size: var(--pgSmallSize);
  letter-spacing: var(--pgSmallLetterSpacing);
  font-family: "Protest";
  font-variation-settings: "wght" 100, "wdth" 50;
}

.formTrialsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-top: var(--margin-M);
}

.formTrialsLower {
  padding-top: 30px;
}

.formTrialsUpper {
  padding-bottom: var(--margin-M);
}

.formTrials p {
  font-family: "Giallo-Mono";
  color: black;
  opacity: 1;
  font-size: 12.5px;
  line-height: 16px;
  letter-spacing: 1px;
}

.formTrials button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--margin-M);
  height: 25px;
  background: var(--primary);
  font-variation-settings: "wght" 116, "wdth" 0;
  text-transform: uppercase;
  z-index: 100;
  font-size: var(--pgSmallSize);
  letter-spacing: var(--pgSmallLetterSpacing);
  border-radius: 3px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  font-family: "Protest";
  border: 0;
  outline: 0;
  width: 100%;
}

.formTrials button:hover {
  background: var(--quaternary);
}

.trialsButtonWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.inputTrials {
  display: flex;
  flex-direction: column;
}

.inputTrials input {
  border: 0;
  padding: 0;
  font-family: "Giallo";
  font-size: 40px;
  line-height: 16px;
  letter-spacing: 1px;
  background: transparent;
}

.inputTrials input::placeholder {
  font-family: "Giallo-Mono";
  color: black;
  opacity: 1;
  font-size: 12.5px;
  line-height: 16px;
  letter-spacing: 1px;
}

.inputTrials input::selection {
  background: var(--primary);
}

.inputTrials input:focus {
  border: 0px;
  outline: 0;
}

.formTrialsUpper hr {
  border: 0.5px solid black;
}

.trialsConfirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.trialsConfirmation p {
  text-align: center;
  font-family: "Giallo";
  font-size: 40px;
  line-height: 50px;
}

.trialsCheckboxes {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 15px;
}

.trialsCheckboxes p {
  transition: letter-spacing 0.2s ease;
  cursor: default;
  width: 80%;
}

.trialsCheckboxes a {
  text-decoration: underline;
}

.trialsCheckbox {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: 1px solid black;
  margin-right: 30px;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .formTrials button {
    margin-top: 45px;
    color: black;
  }
  .trialsWrapper {
    top: 0;
    right: 0;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: unset;
  }
  .formTrials {
    width: calc(100% - 2 * var(--margin-M));
    height: auto;
    margin-top: var(--margin-M);
  }
  .formTrialsUpper {
    padding-bottom: calc(2 * var(--margin-M));
  }
}

/* STOREFRONT TRILS */

.storefrontTrialsWrapper {
  width: 100vw;
  height: 100vh;
  color: black;
  background: var(--primary);
  font-size: 8vw;
  font-variation-settings: "wght" 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: variationAnimation 1s ease alternate-reverse;
  animation-iteration-count: infinite;
}

.storefrontTrialsWrapper:hover {
  color: var(--primary);
  background: var(--fifth);
  cursor: pointer;
}

.storefrontTrialsHoverImage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

@keyframes variationAnimation {
  0% {
    font-variation-settings: "wght" 0, "ital" 100;
  }
  100% {
    font-variation-settings: "wght" 300, "ital" 0;
  }
}

/* STOREFRONT */

.storefrontWrapper {
  height: 100vh;
  overflow: hidden;
}

.storefrontLinkWrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 999999999999;
  color: var(--fifthSolid);
  font-size: 23pt;
  line-height: 22pt;
  font-variation-settings: "wght" 150;
  letter-spacing: -0.5pt;
  text-align: center;
  pointer-events: none;
  text-transform: uppercase;
}

.storefrontLink {
  pointer-events: auto;
  cursor: pointer;
}

.storefrontLink:hover {
  font-variation-settings: "wght" 250;
}

.storefrontItalic {
  font-variation-settings: "wght" 150, "ital" 100;
}

.storefrontArrow {
  font-size: 13pt;
  line-height: 25pt;
}

/* COOKIE */

.cookieWrapper {
  background: var(--quaternary);
  backdrop-filter: blur(20px);
  border-radius: 3px;
  position: fixed;
  top: var(--margin-M);
  right: var(--margin-M);
  padding: var(--margin-S);
  width: 30%;
  z-index: 200;
  font-family: "Giallo-Mono";
  font-size: var(--gialloSmallSize);
  letter-spacing: 1px;
  animation: fadeInCookie 2s ease;
  transition: opacity 0.2s linear;
}

.cookieButtonWrapper {
  padding-top: var(--margin-M);
  display: flex;
  justify-content: center;
  width: 100%;
}

.cookieButtonWrapper * {
  width: 200px;
  margin-bottom: 0;
}

.cookieButtonWrapper div:first-child {
  margin-right: var(--margin-S);
}

@keyframes fadeInCookie {
  0% {
    transform: translateX(50vw);
  }
  80% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@media only screen and (max-width: 600px) {
  .cookieWrapper {
    top: 55px;
    width: calc(100% - 2 * var(--margin-M));
  }

  @keyframes fadeInCookie {
    0% {
      transform: translateX(100vw);
    }
    80% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(0vw);
    }
  }
}

.footer {
  min-height: 95vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  font-family: "Giallo-Mono";
  font-size: var(--gialloSmallSize);
  line-height: var(--gialloSmallLineHeight);
  letter-spacing: var(--gialloSmallLetterSpacing);
  margin-top: var(--margin-XL);
}

.footerMobile {
  display: none;
}

.footerInfo {
  width: 50vw;
}

.footerLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.footerRight {
  width: 25%;
  margin-right: var(--margin-M);
  margin-bottom: var(--margin-L);
  position: absolute;
  right: 0;
}

.footerInfo a {
  text-decoration: underline;
}

.footerInfoHead {
  margin-top: 20px;
}

.title p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footerTop {
  right: 0;
  width: 100%;
  padding-bottom: var(--margin-L);
}

.footerTop a {
  text-decoration: underline;
}

.copyright {
  text-decoration: none !important;
  cursor: default !important;
}

.footerBottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  padding-bottom: var(--margin-L);
}

.accordion {
  padding-bottom: var(--margin-M);
}

.accordion div:nth-child(3) {
  padding-bottom: var(--margin-M);
}

.footerInfo div {
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.content.show {
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  padding: 0 0 var(--margin-M) var(--margin-M);
}

.form {
  margin-top: var(--margin-S);
}

.form button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--margin-M);
  height: 25px;
  background: var(--tertiary);
  padding: 0 20px;
  font-variation-settings: "wght" 116, "wdth" 0;
  text-transform: uppercase;
  z-index: 100;
  font-size: var(--pgSmallSize);
  letter-spacing: var(--pgSmallLetterSpacing);
  border-radius: 3px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  font-family: "Protest";
  border: 0;
  outline: 0;
  width: 100%;
}

.form button:hover {
  background: var(--quaternary);
}

.input {
  display: flex;
  flex-direction: column;
}

.input input {
  border: 0;
  padding: 0;
  font-family: "Giallo";
  font-size: 40px;
  line-height: 16px;
  letter-spacing: 1px;
}

.input input::placeholder {
  font-family: "Giallo-Mono";
  color: black;
  opacity: 1;
  font-size: var(--gialloSmallSize);
  line-height: var(--gialloSmallLineHeight);
  letter-spacing: var(--gialloSmallLetterSpacing);
}

.input input::selection {
  background: var(--primary);
}

.input input:focus {
  border: 0px;
  outline: 0;
}

.confirmation {
  text-align: right;
}

.disclaimer {
  padding-top: var(--margin-M);
}

@media only screen and (max-width: 1000px) {
  .footer {
    flex-direction: column-reverse;
    justify-content: space-between;
    height: auto;
  }

  .footerLeft,
  .footerInfo {
    width: 100%;
  }

  .footerRight {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: var(--margin-L);
  }
}

/* INFO */

.infoWrapper {
  margin: var(--margin-M);
}

.infoText {
  padding: var(--margin-L);
  padding-bottom: calc(2 * var(--margin-L));
}

.infoText a {
  transition: all 0.2s ease;
  font-variation-settings: "wght" 400;
}

.infoText a:hover {
  font-variation-settings: "wght" 600;
}

.infoText:nth-child(3) {
  padding-bottom: 0 !important;
}

.infoText p {
  font-family: "Giallo";
  font-size: 25pt;
  line-height: 29.5pt;
  letter-spacing: -0.8px;
  word-spacing: -2px;
}

.infoVar1 {
  background: var(--tertiary);
}

.infoVar2 {
  background: var(--fifth);
}

.infoVar3 {
  background: var(--primary);
}

.infoHeader {
  font-family: "Skyline";
  font-variation-settings: "wdth" 800;
  text-transform: uppercase;
}

.infoSubheader {
  font-variation-settings: "wght" 150;
}

@media only screen and (max-width: 600px) {
  .infoText {
    padding: var(--margin-L) 0;
  }
  .infoText p {
    font-family: "Giallo";
    font-size: 20pt;
    line-height: 24.5pt;
    letter-spacing: -0.8px;
    word-spacing: -1.5px;
  }
}

/* SHOP */

.shopWrapper {
  margin: var(--margin-M);
}

.shopSubline {
  font-family: "Giallo-Mono";
  font-size: var(--gialloSmallSize);
  line-height: var(--gialloSmallLineHeight);
  letter-spacing: var(--gialloSmallLetterSpacing);
}

.shopDescription {
  font-family: "Giallo";
  font-size: 20pt;
  letter-spacing: -1px;
  line-height: 22pt;
  margin-bottom: 50px;
}

.shopMainImageWrapper {
  width: 100%;
  display: flex;
  cursor: pointer;
}

.shopMainImageWrapper div {
  width: 48%;
}

.shopMainImageWrapper div:first-child {
  margin-right: 10px !important;
}

@media only screen and (max-width: 600px) {
  .shopWrapper {
    margin-top: calc(5 * var(--margin-M));
    overflow: hidden;
  }
}

/* LEGALS */

.legalsWrapper {
  width: 100vw;
  min-height: 100vh;
  background: #08080a;
  color: white;
  font-family: "Giallo-Mono";
  font-size: var(--gialloSmallSize);
  line-height: var(--gialloSmallLineHeight);
  letter-spacing: var(--gialloSmallLetterSpacing);
  padding: var(--margin-M);
  animation: fadeIn 0.2s ease;
}

.legalsWrapper h1 {
  font-family: "Protest";
  font-variation-settings: "wght" 120;
  letter-spacing: -1px;
  line-height: 34px;
}

.legalsWrapper p {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .legalsWrapper {
    padding-top: 60px;
  }
  .legalsWrapper h1 {
    letter-spacing: -1px;
    line-height: 24px;
  }
  .legalsWrapper p {
    width: 100%;
  }
}

/* LICENSING */

.licensingMain {
  background: var(--fifth);
  animation: fadeIn 0.5s ease;
}

.licensingWrapper {
  width: 100vw;
  min-height: 100vh;
  font-family: "Giallo";
  font-size: 19pt;
  line-height: 22.9pt;
  letter-spacing: -0.6px;
  word-spacing: -1.5px;
  font-variation-settings: "wght" 420;
  padding: var(--margin-M);
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.licensingWrapper a {
  color: white;
}

.licensingColumn {
  width: 30%;
  margin-right: var(--margin-M);
}

.licensingWrapper a:hover {
  font-variation-settings: "wght" 800;
}

.licensingWrapper h1,
.licensingCancellationForm {
  font-family: "Giallo-Mono";
  font-size: var(--gialloSmallSize);
  line-height: var(--gialloSmallLineHeight);
  letter-spacing: var(--gialloSmallLetterSpacing);
  padding: var(--margin-M);
  font-weight: 100;
  max-width: 400px;
  margin-left: calc(var(--margin-L) - var(--margin-M));
}

.licensingCancellationForm ul {
  margin-top: var(--margin-M);
}

.licensingCancellationForm ul li {
  list-style: square;
}

.licensingLink {
  margin-left: calc(var(--margin-L) - var(--margin-M));
}

.massiveLogo {
  font-family: "Skyline";
  font-size: 13.85vw;
  line-height: 15vw;
  letter-spacing: -0.7vw;
  font-variation-settings: "wdth" 1000;
  cursor: default;
  width: 100vw;
  height: 12vw;
  margin: var(--margin-XL) 0 50px 0;
  color: rgb(248, 248, 248);
}

@media only screen and (max-width: 600px) {
  .licensingWrapper {
    padding-top: 140px;
    font-size: 14pt;
    line-height: 18.5pt;
    letter-spacing: -0.3px;
    word-spacing: -1.8px;
    display: block;
    overflow: hidden;
  }
  .licensingColumn {
    width: 100%;
  }
  .massiveLogo {
    font-family: "Skyline";
    font-size: 13.2vw;
    line-height: 15vw;
    letter-spacing: -0.7vw;
    font-variation-settings: "wdth" 1000;
    cursor: default;
    width: 100vw;
    height: 100vh;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
  }
  .licensingWrapper h1,
  .licensingCancellationForm {
    margin-left: 50px;
  }
}

/* ERROR */

.errorWrapper {
  width: 100vw;
  height: 100vh;
  background: var(--fifth);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Giallo";
  pointer-events: none;
}

.errorWrapper span {
  position: absolute;
  font-size: 55vw;
  animation: wobble 3s ease infinite alternate-reverse;
  height: 100vh;
  overflow: hidden;
  color: white;
}

.errorWrapper span:nth-child(1) {
  transform: translateX(-31vw);
}

.errorWrapper span:nth-child(2) {
  animation-delay: 0.25s;
}

.errorWrapper span:nth-child(3) {
  transform: translateX(30.5vw);
  animation-delay: 0.5s;
}

@keyframes wobble {
  0% {
    font-variation-settings: "wght" 100;
  }
  /* 50% {font-variation-settings: "wght" 150} */
  100% {
    font-variation-settings: "wght" 500;
  }
}

/* LICENSING */

.licensingSingleColumn {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .licensingSingleColumn {
    width: 100%;
  }
}

/* AUTOMAT */

.automatToolWrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.automatButtonsWrapper {
  position: fixed;
  padding: var(--margin-M);
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.automatToolContent_01 p,
.automatToolContent_02 p {
  -webkit-text-stroke-width: 0.5px;
  text-stroke: 0.5px;
  transition: font-variation-settings 0.5s ease, font-size 0.5s ease,
    transform 0.5s ease;
}

.automatButtonsRow {
  display: flex;
  justify-content: flex-start;
  height: 30px;
}

.automatButtonsRow div {
  margin-left: 3px;
}

.automatToolContainerhf {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f1ec;
  height: 80vh;
  width: calc(80vh * 0.707);
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.3);
}

.automatAlertWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.automatAlertInner {
  height: 200px;
  width: 400px;
  background: white;
  padding: var(--margin-M) var(--margin-M) 0 var(--margin-M);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3px;
}

.automatAlertInner p {
  font-family: "Giallo";
  font-size: 14pt;
}

.automatAlertButtonWrapper {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.automatAlertButton {
  width: 160px;
}

#automatButtonsRowMobile {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .automatToolContainerhf {
    margin-top: 150px;
    height: 70vh;
    width: calc(70vh * 0.707);
    margin-bottom: 60px;
  }
  .automatButtonsWrapper {
    position: absolute;
    top: 40px;
    flex-direction: column;
    /* z-index: 500; */
  }
  .automatButtonsRow {
    flex-wrap: wrap;
    height: auto;
  }
  #automatButtonsRowDesktop {
    display: none;
  }
  #automatButtonsRowMobile {
    display: block;
  }
}
