html,
body {
  background: white;
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
  font-family: "Protest";
  font-variation-settings: "wght" 100;
  font-variation-settings: "ital" 0;
  transition: font-variation-settings 3s ease;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Protest";
  font-style: normal;
  src: url(../public/fonts/ProtestGrotesk.ttf) format("truetype"),
    url(../public/fonts/ProtestGrotesk.woff) format("woff"),
    url(../public/fonts/ProtestGrotesk.woff2) format("woff2");
}

@font-face {
  font-family: "ProtestMono";
  font-style: normal;
  src: url(../public/fonts/ProtestGroteskMono.ttf) format("truetype");
}

@font-face {
  font-family: "Skyline";
  font-style: normal;
  src: url(../public/fonts/SkylineGX.ttf) format("woff2");
}

@font-face {
  font-family: "Giallo-Mono";
  font-style: normal;
  src: url(../public/fonts/GialloGX_trial.ttf) format("woff2");
}

@font-face {
  font-family: "Giallo";
  font-style: normal;
  src: url(../public/fonts/GialloRoman_VF.ttf) format("woff2");
}

@font-face {
  font-family: "AutomatSquare";
  font-style: normal;
  src: url(../public/fonts/Automat_SquareGX.ttf) format("opentype");
}

/* VARIABLES */

:root {
  --margin-XL: 600px;
  --margin-L: 100px;
  --margin-M: 30px;
  --margin-S: 12px;

  --primary: rgb(0, 255, 0);
  --secondary: rgba(0, 0, 0, 0.8);
  --tertiary: rgba(222, 211, 151, 0.55);
  --quaternary: rgba(220, 220, 220, 0.4);

  --pgSmallSize: 7.5pt;
  --pgSmallLineHeight: 15pt;
  --pgSmallLetterSpacing: 1.2px;
  --pgSmallVariable: "wght" 116, "wdth" 0;

  --gialoSmallSize: 10.5pt;
  --gialloSmallLineHeight: 16pt;
  --gialloSmallLetterSpacing: 1.5px;
}

@media only screen and (max-width: 600px) {
  :root {
    --margin-XL: 200px;
    --margin-M: 15px;
    --margin-S: 10px;
  }
}

::-moz-selection {
  background: transparent;
  color: inherit;
}
::selection {
  background: transparent;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  transition: font-variation-settings 0.5s ease;
}

textarea:focus {
  outline: none !important;
}

p {
  margin: 0;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

li {
  list-style: none;
}

/* M E N U  */

.menuBarClosed {
  width: 35vw;
  height: 24px;
  transition: width 0.5s ease;
}

.menuBarClosed:hover {
  width: 38vw;
}

.menuBarOpen {
  width: calc(100vw - 2 * var(--margin-M));
  height: calc(100vh - 2 * var(--margin-M));
}

.menuBarClosed li {
  display: none;
  pointer-events: none;
}

.menuLinkOpen {
  height: 20px;
  text-align: center;
  color: #4a4a4a;
  opacity: 0.8;
  transition: opacity 0.3s linear;
}

.menuLinkClosed {
  opacity: 0;
}

@media only screen and (max-width: 600px) {
  .menuBarClosed {
    width: calc(100vw - 2 * var(--margin-M));
  }
  .menuBarClosed:hover {
    width: calc(100vw - 2 * var(--margin-M));
  }
}

/* S T O R E F R O N T */

.storefrontWrapper {
  height: 100vh;
  overflow: hidden;
}

/* B U T T O N S */

.buttonsRightWrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: var(--margin-M);
  display: flex;
  justify-content: flex-end;
  z-index: 50;
  height: 25px;
  animation: fadeIn 1s linear;
  z-index: 351;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.buttonsRightWrapper div {
  margin-left: 3px;
}

.buttonsLeftWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: var(--margin-M);
  display: flex;
  z-index: 50;
  height: 25px;
  /* animation: fadeIn 0.5s linear; */
  z-index: 200;
}

.buttonsLeftWrapper div {
  margin-right: 3px;
}

#primary {
  background: var(--primary);
}

#secondary {
  background: black;
  color: white;
}

#tertiary {
  background: var(--tertiary);
}

#quaternary {
  background: var(--quaternary);
  cursor: default;
}

#textbutton {
  width: 25vw;
  position: absolute;
  height: auto;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
  padding: var(--margin-S);
  text-transform: none;
  line-height: 16px;
  font-size: 12px;
  letter-spacing: 0.5px;
  word-spacing: -1.5px;
  font-variation-settings: "wght" 100, "wdth" 50;
  font-feature-settings: "ss01";
  background: var(--quaternary);
}

#closeButton {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  background: var(--secondary);
  color: white;
}

#primary:hover,
#secondary:hover,
#tertiary:hover {
  background: var(--quaternary);
  color: black;
}

/* #quaternary:hover {
  background: black;
  color: white;
  cursor: pointer;
} */

@media only screen and (max-width: 600px) {
  .buttonsLeftWrapper {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    max-width: 70vw;
  }
  .buttonsRightWrapper {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    bottom: 0px;
    max-width: 30vw;
  }
  .buttonsRightWrapper div {
    margin: 3px 0 0 3px;
  }
}

/* C A R T */

/* T Y P E F A C E  S I N G L E */

.typeface-single-inner {
  margin: var(--margin-M);
  width: calc(100%-60px);
  height: 100%;
}

.typeface-single-giallo {
  font-family: "Giallo";
}

.typeface-single-inner p,
.typefaceInfosection h1 {
  font-family: "Giallo-Mono";
  font-size: var(--gialoSmallSize);
  line-height: var(--gialloSmallLineHeight);
  letter-spacing: var(--gialloSmallLetterSpacing);
  font-weight: normal;
}

.highlight01 {
  background: var(--primary);
  font-family: "Protest";
  font-variation-settings: "wght" 150;
  letter-spacing: -0.1px;
}

.highlight02 {
  background: var(--tertiary);
  font-family: "Protest";
  font-variation-settings: "wght" 150;
  letter-spacing: -0.1px;
}

.typefaceInfosectionList h1 {
  font-family: "Giallo-Mono";
  font-size: var(--gialoSmallSize);
  line-height: var(--gialloSmallLineHeight);
  letter-spacing: var(--gialloSmallLetterSpacing);
  font-weight: normal;
}

.typefaceInfosectionList {
  display: flex;
}

.typefaceInfosectionList p {
  width: 25%;
}

.typeface-single-header {
  height: 100vh;
  min-height: 800px;
  overflow: hidden;
}

.typeface-single-opener {
  padding: var(--margin-XL) 0;
}

.fontOpener {
  font-family: "Protest";
  font-variation-settings: "wdth" 50, "wght" 40;
  font-size: 6.6vw;
  line-height: 7vw;
  letter-spacing: -0.3vw;
}

.fontOpenerGiallo {
  font-family: "Giallo";
  font-variation-settings: "wdth" 50, "wght" 40;
  font-size: 7.2vw;
  line-height: 7.5vw;
  letter-spacing: -0.3vw;
}

.fontOpenerProtestMono {
  font-family: "ProtestMono";
  font-variation-settings: "wdth" 50, "wght" 40;
  font-size: 5.8vw;
  line-height: 7.5vw;
  letter-spacing: -0.3vw;
}

/* .typefaceInfosection {
  padding: 0 10vw;
} */

.typefaceWrapper {
  position: relative;
  top: 0;
  height: 100vh;
  width: 100%;
}

.typefaceWrapper p {
  font-family: "Giallo-Mono";
  font-size: 12.5px;
  line-height: 16px;
  letter-spacing: 1px;
}

.typefaceControl {
  font-size: 20pt;
  line-height: 25pt;
  letter-spacing: -0.6px;
  font-variation-settings: var(--pgSmallVariable);
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.8);
  padding-top: var(--margin-M);
  padding-bottom: 10px;
  z-index: 150;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.typefaceInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: default;
}

.typefaceDisplay {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10.9vw;
  line-height: 12vw;
  letter-spacing: -0.7vw;
  font-variation-settings: "wdth" 50;
  text-align: center;
  transition: font-variation-settings 0.2s ease;
  border: none;
  cursor: pointer;
  transform: translateY(-10vh);
}

.typefaceControlButton {
  cursor: default;
  opacity: 0.3;
  transition: opacity 0.2s linear;
}

.typefaceControlButton:hover {
  opacity: 1;
}

.swiper {
  height: 100vh;
}

@keyframes changeStyle {
  0% {
    font-variation-settings: "ital" 0, "wght" 40;
  }
  33% {
    font-variation-settings: "ital" 0, "wght" 150;
  }
  66% {
    font-variation-settings: "ital" 100, "wght" 150;
  }
  100% {
    font-variation-settings: "ital" 0, "wght" 40;
  }
}

@media only screen and (max-width: 600px) {
  .typefaceWrapper {
    height: 40vh;
  }

  .typefaceControl {
    display: none;
  }
  .typefaceDisplay {
    height: 40vh;
    font-size: 10vw;
    animation: changeStyle 5s ease 0s infinite alternate;
  }
}

/* V A R I A B L E */

.lettersVariableWrapper {
  margin: var(--margin-XL) 0;
  font-size: 50vw;
  font-variation-settings: "wdth" 50;
  letter-spacing: -1vw;
  height: 300vh;
}

.lettersVariable {
  position: sticky;
  top: 5vh;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.letterIndicator {
  position: absolute;
  left: 0;
  top: var(--margin-M);
  transform: translateY(-5vh);
}

.variableLetters {
  transform: translateY(-24.48vw);
}

.baseline,
.xHeight,
.versal,
.upperHeight,
.underShoot {
  position: absolute;
  width: 100%;
}
.upperHeight {
  transform: translateY(-22.24vw);
  border-top: 0.5px dashed;
}
.versal {
  transform: translateY(-21.49vw);
  border-top: 0.1px solid;
}
.xHeight {
  transform: translateY(-11.265vw);
  border-top: 0.5px solid;
}
.baseline {
  transform: translateY(16.2vw);
  border-top: 0.5px solid;
}
.underShoot {
  transform: translateY(16.94vw);
  border-top: 0.5px dashed;
}

/* T E S T E R */

.typeface-single-tester-wrap {
  padding: var(--margin-XL) 0;
  width: calc(100%-60px);
  overflow: hidden;
}

.pgMono {
  font-family: "ProtestMono";
}

.typeface-single-tester {
  font-size: 260px;
  font-variation-settings: "wght" 40, "wdth" 50;
  letter-spacing: -15px;
  white-space: nowrap;
}

.inputWrapper {
  width: calc(100vw -30px);
  overflow: hidden;
  word-break: break-all;
}

.controlsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.2s ease;
  width: 100%;
  padding-top: 20px;
}

.typetesterWrapper {
  opacity: 0.7;
  transition: opacity 0.5s ease;
  cursor: default;
}

.typetesterWrapper:hover {
  opacity: 1;
}

.typetesterWrapper:hover .controlsWrapper {
  opacity: 1;
}

.input {
  color: black;
  width: 100%;
  border: 0;
  word-break: break-all;
  padding-top: 20px;
  word-spacing: -1px;
}

.column01Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
}

.column02Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20vw;
}

.MuiSlider-root {
  color: black !important;
  opacity: 0.8;
}

.MuiSlider-thumb.MuiSlider-active {
  box-shadow: none !important;
}

.MuiSlider-thumb.Mui-focusVisible,
.MuiSlider-thumb:hover {
  box-shadow: none !important;
}

.ssButtons {
  position: absolute;
  transform: translateY(30px);
  display: flex;
}

.ssButtons span {
  padding-left: 3px;
}

.ssButtons span div:hover {
  background: var(--secondary) !important;
  color: white !important;
}

/* F E A T U R E S */

.features-wrapper {
  padding: var(--margin-XL) 0;
}

/* G L Y P H C H A R T */

.glyphchartWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: var(--margin-XL);
  margin-bottom: var(--margin-XL);
}

.glyphchartDisplayWrapper {
  width: 50%;
}

.glyphchartDisplay {
  height: 100vh;
  position: sticky;
  top: 0;
  width: 100%;
  font-size: 40vw;
  line-height: 60vw;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.glyphchartDisplay div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.glyphchartDisplayMobile {
  display: none;
}

.glyphchartTable {
  width: 50%;
}

.glyphchartLetterWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.glyphchartLetter {
  width: 70px;
  height: 70px;
  font-size: 20pt;
  display: flex;
  justify-content: center;
  transition: font-size 0.2s ease-out, transform 0.2s ease-out;
  cursor: default;
}

.glyphchartLetter:hover {
  font-size: 40pt;
  transform: translateY(-10px);
}

.glyphchartHeading {
  padding-bottom: var(--margin-M);
}

.glyphchartSlider {
  width: 18vw !important;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: var(--margin-M);
  display: flex;
  flex-direction: row;
  margin-right: 60px !important;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.glyphchartWrapper:hover .glyphchartSlider {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .typeface-single-header {
    height: calc(100vh - 200px);
    min-height: unset;
  }

  .fontOpener {
    letter-spacing: -2px;
  }

  .controlsWrapper {
    padding-top: 0;
    flex-direction: column;
    width: 100%;
    height: 0;
    transition: height 0.5s;
  }

  .typetesterWrapper:hover .controlsWrapper {
    height: 200px;
  }

  #click2type {
    display: none;
  }

  .sliderWrapper {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-top: 23px;
  }

  .glyphchartTable {
    width: 100%;
    height: auto;
  }

  .glyphchartDisplayMobile {
    width: 100%;
    height: 50vh;
    font-size: clamp(0vw, 50vw, 140pt);
    padding-top: 70px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .glyphchartLetter {
    width: 17.5vw;
    height: 18.4vw;
  }

  .glyphchartDisplayWrapper {
    display: none;
  }

  .glyphchartSliderMobile {
    opacity: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: white;
  }
  .glyphchartSliderSingle {
    opacity: 1;
    display: flex;
    flex-direction: column;
    width: 46%;
    pointer-events: auto;
  }
}

/* W A T E R F A L L  */

.MuiSlider-markLabel {
  opacity: 0.5 !important;
  font-family: "Giallo-Mono" !important;
}

.MuiSlider-markLabel:hover {
  opacity: 1 !important;
}

/* P R O D U C T */

.productItalic:hover::after {
  content: "50% off incl. Regular";
  color: var(--primary);
  font-size: 10pt;
  line-height: 10pt;
  padding-left: 50px;
}

.productFullFamily:hover::after {
  content: "66% off";
  color: var(--primary);
  font-size: 10pt;
  line-height: 10pt;
  padding-left: 50px;
}

.productBundle1:hover::after {
  content: "44% off";
  color: var(--primary);
  font-size: 10pt;
  line-height: 10pt;
  padding-left: 50px;
}

.productBundle2:hover::after {
  content: "22% off";
  color: var(--primary);
  font-size: 10pt;
  line-height: 10pt;
  padding-left: 50px;
}

/* HEADER ANIMATIONS */

.headerAnimationWrapper {
  height: 100%;
  overflow: hidden;
  background: #dfdfff;
  /* background-image: url("../public/images/image_05.png"); */
}

.headerAnimationWrapper .row {
  display: flex;
  justify-content: center;
  animation: rowAnimation 30s linear infinite alternate-reverse;
}

.headerAnimationWrapper .row p {
  color: white;
  font-family: "Protest";
  font-variation-settings: "";
  /* letter-spacing: -3.5vw; */
  animation: typoAnimation 30s ease infinite,
    variableAnimation 2s ease infinite alternate;
  font-size: 70vw;
  line-height: 70vw;
  letter-spacing: -5vw;
  white-space: nowrap;
}

.headerAnimationWrapper .row2 {
  display: flex;
  justify-content: center;
  animation: rowAnimation 30s linear infinite alternate;
}

.headerAnimationWrapper .row2 p {
  color: "ghostwhite";
  font-family: "Protest";
  font-variation-settings: "";
  /* letter-spacing: -3.5vw; */
  animation: typoAnimation 30s ease infinite,
    variableAnimation 2s ease infinite alternate-reverse;
  font-size: 70vw;
  line-height: 70vw;
  letter-spacing: -5vw;
  height: 100%;
  white-space: nowrap;
  text-align: right;
}

@keyframes rowAnimation {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes typoAnimation {
  0% {
    transform: scale(0.25);
    line-height: 20vw;
  }
  20% {
    transform: scale(0.25);
    line-height: 20vw;
  }
  25% {
    transform: scale(0.5);
    line-height: 37vw;
  }
  45% {
    transform: scale(0.5);
    line-height: 37vw;
  }
  50% {
    transform: scale(1);
    line-height: 70vw;
  }
  70% {
    transform: scale(1);
    line-height: 70vw;
  }
  75% {
    transform: scale(0.5);
    line-height: 37vw;
  }
  95% {
    transform: scale(0.5);
    line-height: 37vw;
  }
  100% {
    transform: scale(0.25);
    line-height: 20vw;
  }
}

@keyframes variableAnimation {
  0% {
    font-variation-settings: "wght" 40;
    font-variation-settings: "ital" 100;
  }
  40% {
    font-variation-settings: "ital" 0;
    font-variation-settings: "wght" 40;
  }
  50% {
    font-variation-settings: "ital" 100;
    font-variation-settings: "wght" 250;
  }
  60% {
    font-variation-settings: "ital" 0;
    font-variation-settings: "wght" 250;
  }
  100% {
    font-variation-settings: "wght" 150;
  }
}

.PGMonoAnimationWrapper {
  background: ghostwhite;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.PGMonoLetter {
  color: #7a7d29;
  width: 3vw;
  font-size: 2vw;
  transition: font-variation-settings 1s ease;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.GialloAnimationWrapper {
  height: 100vh;
  overflow: hidden;
  background: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: yellow;
}

.GialloAnimationWrapper * {
  transition: font-variation-settings 0.2s ease-out;
  cursor: default;
}

.GialloWord {
  font-family: "Giallo";
  font-size: 5vw;
  letter-spacing: -0.1vw;
}

.GialloIndex {
  font-family: "Giallo-Mono";
}

/* COOKIE */

.cookieWrapper {
  background: var(--tertiary);
  backdrop-filter: blur(20px);
  border-radius: 3px;
  position: fixed;
  top: var(--margin-M);
  left: var(--margin-M);
  padding: var(--margin-S);
  width: 30%;
  z-index: 200;
  font-family: "Giallo-Mono";
  font-size: var(--gialoSmallSize);
  letter-spacing: 1px;
  animation: fadeInCookie 2s ease;
  transition: opacity 0.5s ease-out
}

.cookieButtonWrapper {
  padding-top: var(--margin-M);
  display: flex;
  justify-content: center;
  width: 100%;
}

.cookieButtonWrapper * {
  margin-left: 20px;
  width: 200px;
  margin-bottom: 0;
}

@keyframes fadeInCookie {
  0% {transform: translateX(-50vw)}
  80% {transform: translateX(-50vw)}
  100% {transform: translateX(0vw)}
}