.infoWrapper {
    margin: var(--margin-M);
    font-family: 'Giallo-Mono';
}

.infoWrapper h1{
    font-size: 12.5px;
    line-height: 16px;
    letter-spacing: 1px;
    font-variation-settings: "wdth" 300;
    font-weight: normal;
    text-align: center
}

.infoContainer {
    padding: calc(2*var(--margin-M)) 0;
}

.infoHeader {
    width: 50vw;
    font-size: 12.5px;
    line-height: 16px;
    letter-spacing: 1px;
}

.infoContent {
    transition: font-size 0.3s cubic-bezier(0.19, 1, 0.22, 1), width 0.3s cubic-bezier(0.19, 1, 0.22, 1), font-variation-settings 0.3s cubic-bezier(0.19, 1, 0.22, 1), line-heigth 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: default;
}

.infoContent p {
    padding: 15px 0 30px 0;
}



@media only screen and (max-width: 600px) {
    .infoWrapper {
        margin-top: calc(5*var(--margin-M))
    }
    .infoContent {
        width: calc(100vw - 2*(var(--margin-M))) !important;
    }
}