.licensingWrapper {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    overflow: scroll;
}

.licensingContent {
    width: 50vw;
    height: 100%;
    background: white;
    opacity: 1;
    /* transform: translateY(var(--margin-M)); */
    border-radius: 5px;
    padding: 60px;
    opacity: 0.9;
    overflow: scroll;
}

.licensingContent h1 {
    font-family: "Giallo";
    font-size: 20pt;
    line-height: 24pt;
    letter-spacing: -0.5px;
    font-variation-settings: 'wght' 200;
    text-align: center;
}

.licensingContent p {
    font-family: "Giallo";
    font-size: 18pt;
    line-height: 24pt;
    letter-spacing: -0.7px;
    font-variation-settings: 'wght' 300;
    margin-bottom: var(--margin-M)
}