@-moz-document url-prefix() {
  .licensingWrapper {
    background: var(--tertiary)
  }
}

.licensingWrapper {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 10000;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  overflow: scroll;
  animation: fadeIn 0.3s ease;
}

.licensingContent {
  width: 50vw;
  height: 100%;
  /* background: white; */
  opacity: 1;
  border-radius: 5px;
  padding: 60px;
  opacity: 0.9;
  overflow: scroll;
}

.licensingContent h1 {
  font-family: "Giallo";
  font-size: 20pt;
  line-height: 24pt;
  letter-spacing: -0.5px;
  font-variation-settings: "wght" 200;
  text-align: center;
}

.licensingContent p {
  font-family: "Giallo";
  font-size: 18pt;
  line-height: 24pt;
  letter-spacing: -0.7px;
  font-variation-settings: "wght" 300;
  margin-bottom: var(--margin-M);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1000px) {
  .licensingContent {
    width: 100vw;
    padding: var(--margin-M) var(--margin-M) var(--margin-L) var(--margin-M);
  }
  .licensingContent p {
    font-family: "Giallo";
    font-size: 15pt;
    line-height: 21pt;
    letter-spacing: -0.2px;
    word-spacing: -0.5px;
  }
  .licensingContent div {
    margin-top: var(--margin-L);
  }
}
