.menuContainer {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 400;
}

#menuBar {
    pointer-events: auto;
    position: fixed;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    /* background: rgba(220, 220, 220, 0.7);; */
    margin-bottom: var(--margin-M);
    border-radius: 3px;
    transition: width 0.3s cubic-bezier(0.19, 1, 0.22, 1), height 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: pointer;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
}

.menuTypo {
    font-size: 8vw;
    line-height: 0px;
    letter-spacing: -0.5vw;
    font-weight: 100;
    font-family: 'Skyline';
    font-variation-settings: 'wdth' 800;
    height: 30px;
    height: 0px;
    list-style: none;
    transform: translateY(-7px);
    opacity: 1;
    transition: font-variation-settings .5s ease;
}

.menuTypo:hover {
    font-variation-settings: 'wdth' 500;
    transition: font-variation-settings 0.4s ease;
}

.menuBarClosed .menuLink, .menuBarClosed hr {
    display: none;
    pointer-events: none;
}

.logoTypo {
    font-family: 'Skyline';
    font-variation-settings: 'wdth' 800;
    position: fixed;
    bottom: 23px;
    width: 100%;
    text-align: center;
    z-index: 101;
    font-size: 28px;
    color: var(--menuType);
    opacity: 0.8;
}

@media only screen and (max-width: 1300px) {
    #menuBar {
        top: 16px;
    }

    .logoTypo {
        transform: translateY(14px);
        top: 0;
        width: 100%;
        left: 0;
    }

    .menuTypo {
        font-size: 8vw;
        transform: translateY(15px);
    }
  }