.productWrapper {
    width: calc(50vw - 2*var(--margin-M));
    display: flex;
    justify-content: space-between;
    font-size: 20pt;
    line-height: 25pt;
    letter-spacing: -0px;
}

.productWrapper:hover {
    opacity: 1;
}

.productPrice {
    font-size: 10pt;
}

.productDescription {
    padding: 10px;
    letter-spacing: var(--pgSmallLetterSpacing);
    font-size: var(--pgSmallSize);
    line-height: var(--pgSmallLineHeight);
    font-variation-settings: var(--pgSmallVariable);
    text-transform: uppercase;
}

.notInCart:hover .productName, .inCart:hover .productName{
    opacity: 0;
}

.notInCart:hover:before {
    position: absolute;
    content: "→ Add to Cart";
    font-size: 20pt;
    line-height: 25pt;
    letter-spacing: -0px;
    color: var(--primary)
}

.inCart:hover:before {
    position: absolute;
    content: "→ Remove from Cart";
    font-size: 20pt;
    line-height: 25pt;
    letter-spacing: -0px;
}

.inCart, .notInCart {
    cursor: pointer
}