.AppInner {
    padding: var(--margin-M);
}

.projectHeader {
    font-family: 'Giallo';
    font-size: 20pt;
    line-height: 23pt;
    top: var(--margin-M);
    margin-bottom: 50px;
}

.projectContent {
    margin-bottom: var(--margin-XL)
}

.projectContent p {
    font-family: 'Giallo-Mono';
    font-size: 12.5px;
    line-height: 16px;
    letter-spacing: 1px;
}

.imageRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.w6 {
    width: 49%;
}

@media only screen and (max-width: 600px) {
    .AppInner {
        padding-top: calc(5*var(--margin-M));
        overflow: hidden;
    }
    .imageRow {
        width: calc(100vw - 2*(var(--margin-M)));
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .w6 {
        width: calc(100vw - 2*(var(--margin-M)));
        padding-bottom: var(--margin-M)
    }
}
