.swiperNav {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 100000000000000000000;
}

.swiperPrev {
  width: 20vw;
  height: 100vh;
  cursor: w-resize;
}

.swiperNext {
  width: 20vw;
  height: 100vh;
  cursor: e-resize;
}



@keyframes variation {
  0% {
    font-variation-settings: "wght" 40, "ital" 100;
  }
  100% {
    font-variation-settings: "wght" 500, "ital" 0;
  }
}
