.TypefacesInner {
  padding: 0 var(--margin-M) var(--margin-M) var(--margin-M);
}

.button {
  display: none;
}

.buttonShow {
  display: block !important;
}


@media only screen and (max-width: 600px) {
  .TypefacesInner {
    padding: 0;
    padding-top: 45px;
  }

}
