.waterfallWrapper {
  margin: var(--margin-XL) 0;
  width: 100%;
  font-family: "Protest";
  font-variation-settings: "wdth" 50;
  transition: font-variation-settings 0.2s ease-out;
}

.waterfallRow {
  display: flex;
  justify-content: space-between;
  padding: var(--margin-L) 0;
}

.waterfallElement {
  display: flex;
  justify-content: space-between;
  width: 48%;
}

.xxl {
  font-size: 21.5vw;
  line-height: 22vw;
  letter-spacing: -2.3vw;
}

.xl {
  font-size: 13.7vw;
  line-height: 13.5vw;
  letter-spacing: -1.2vw;
  text-align: center;
}

.l {
  font-size: 5.8vw;
  line-height: 6.245vw;
  letter-spacing: -0.4vw;
  text-align: center;
}

.m {
  font-size: 3vw;
  line-height: 3.5vw;
  letter-spacing: -0.12vw;
}

.s {
  font-size: 1.5vw;
  line-height: 1.95vw;
  letter-spacing: -0.03vw;
}

.xs {
  font-size: 1vw;
  line-height: 1.35vw;
  letter-spacing: -0vw;
}

.controls {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100;
  padding-top: var(--margin-M);
  padding-bottom: 60px;
  z-index: 150;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  width: 100vw;
  padding-left: 60px;
  padding-right: 60px;
  transform: translateX(-30px);
  background: rgba(255, 255, 255, 0.25);
}

@media only screen and (max-width: 600px) {
  .controls {
    display: none;
  }

  .controlsMobile {
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    transform: translateX(-30px);
    height: 100px;
    width: calc(100vw + 14px);
    background: rgba(255, 255, 255, 0.1);
    padding: var(--margin-M) 20px 60px 30px;
    z-index: 150;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }

  .controlsMobileWrapper {
    transform: translateY(40px);
    mix-blend-mode: difference !important;
  }

  .waterfallWrapper {
    width: 100%;
  }

  .waterfallRow {
    padding: 35px 0;
    flex-direction: column;
  }

  .waterfallElement {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .waterfallRow .waterfallElement:first-child {
    padding-bottom: 70px;
  }

  .xxl {
    font-size: 20.5vw;
    line-height: 23vw;
    letter-spacing: -2.3vw;
    text-align: center;
  }

  .xl {
    font-size: 25vw;
    line-height: 21vw;
    letter-spacing: -1.2vw;
    text-align: center;
  }

  .l {
    font-size: 12.5vw;
    line-height: 14vw;
    letter-spacing: -0.7vw;
    text-align: center;
  }

  .m {
    font-size: 7vw;
    line-height: 7.75vw;
    letter-spacing: -0.2vw;
  }

  .s {
    font-size: 4.5vw;
    line-height: 5.2vw;
    letter-spacing: -0.05vw;
  }

  .xs {
    display: none;
  }
}
